/* Universal Styles */

html {
    font-family: 'Roboto', 'Calibri', sans-serif;
}

/* Header & Nav */


@media screen and (min-device-width:320px) {
    body {
        width: 1200px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 0;
    }
    
    #name {
        height: 100px;
        width: auto;
        position: relative;
        top: 0px;
        margin: 40px;
        display: inline;
    }

    h2 {
        font-size: 5rem;
        margin: 0;
    }

    li {
        font-size: 4rem;
    }

    nav {
        display: none;
        justify-self: flex-end;
    }

    header {
        /* display: flex; */
        position: fixed;
        /* justify-content: space-around; */
        background-color: white;
        z-index: 1;
    }

    #button {
        height: 100px;
        width: 100px;
        position: relative;
        top: 0px;
        right: 10px;
        margin: 40px;
    }

    #button i {
        width: 100px;
    }
}

@media screen and (min-device-width:800px) {
    li {
        display: inline;
    }    
}

/* Main Content */

@media screen and (min-device-width:320px) {
    main {
        position: relative;
        top: 215px;
    }
}
/* Footer */