/* Universal Styles */

html {
    font-family: 'Roboto', 'Calibri', sans-serif;
}

@media screen and (min-device-width:320px) {
    body {
        width: 100%;
        margin-right: 50px;
        margin-top: 0;
    }

    h2 {
        font-size: 5rem;
        margin: 0;
    }

}

/* Header & Nav */

@media screen and (min-device-width:320px) {
    
    header {
        position: fixed;
        background-color: whitesmoke;
        z-index: 1;
        width: 100%;
    }

    #name {
        height: 100px;
        width: auto;
        position: relative;
        top: 0px;
        left: 0px;
        padding: 40px;
        display: inline;
    }

    nav {
        display: none;
        position: fixed;
        top: 120px;
        right: 75px;
        z-index: 2;
        background-color: whitesmoke;
        border: medium double #369;
    }

    nav ul{
        padding: 75px 60px 0px 60px;
        margin: 0;
    }

    nav li {
        font-size: 4rem;
        list-style-type: none;
        margin-bottom: 75px;
    }

    #button {
        height: 100px;
        width: 100px;
        position: fixed;
        top: 0px;
        right: 10px;
        margin: 22px;
    }

    #button i {
        width: 100px;
        text-align: center;
    }
}

@media screen and (min-device-width:800px) {
    li {
        display: inline;
    }    
}

/* Main Content */

@media screen and (min-device-width:320px) {
    main {
        position: relative;
        top: 160px;
        margin-left: 50px;
    }

    main p {
        font-size: 3rem;
        text-justify: inter-word;
    }
}
/* Footer */